doctype
html(ng-app='puzzleBlog')
  head
    meta(charset='utf8')
    base(href='/')
    title Puzzle | Write Your World
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="shortcut icon", href="/images/logosmall.png")
    script(src='javascripts/jquery.js')
    script(src='javascripts/local.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js')
    script(src="http://cdn.bootcss.com/angular.js/1.2.9/angular-resource.min.js")
    script(src="http://cdn.bootcss.com/angular.js/1.2.9/angular-route.min.js")
    script(src='javascripts/app/app.module.js')
    script(src='javascripts/app/app.config.js')
    script(src='javascripts/app/blog-list/blog-list.module.js')
    script(src='javascripts/app/blog-list/blog-list.component.js')
    script(src='javascripts/app/register/regist.module.js')
    script(src='javascripts/app/register/regist.component.js')
    script(src='javascripts/app/login/login.module.js')
    script(src='javascripts/app/login/login.component.js')
    script(src='javascripts/app/userIndex/userIndex.module.js')
    script(src='javascripts/app/userIndex/userIndex.component.js')
    script(src='javascripts/app/write/write.module.js')
    script(src='javascripts/app/write/write.component.js')
    script(src='javascripts/app/edit/edit.module.js')
    script(src='javascripts/app/edit/edit.component.js')
    script(src='javascripts/app/detail/detail.module.js')
    script(src='javascripts/app/detail/detail.component.js')
    script(src='javascripts/app/myblog/myblog.module.js')
    script(src='javascripts/app/myblog/myblog.component.js')

  body
    block body
